<section>
    <h3>User List</h3>
    <div class="table-responsive">
        <table id="binding" summary="Binding Test" class="loom-templated table table-striped table-bordered table-condensed" data-loom-datasource="~/data/binding.json">
            <thead>
            <tr>
                <th>Username</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Website</th>
            </tr>
            </thead>
            <tbody>
            <tr class="itemTemplate">
                <td class="name"><b>Name:</b> ${name}</td>
                <td class="phone"></td>
                <td class="email"></td>
                <td>
                    <a class="homepage" href="#">Web Site</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <ul class="pagination pagination-lg">
        <li>
            <a href="#">&laquo;</a>
        </li>
        <li>
            <a href="#">1</a>
        </li>
        <li>
            <a href="#">2</a>
        </li>
        <li>
            <a href="#">3</a>
        </li>
        <li>
            <a href="#">4</a>
        </li>
        <li>
            <a href="#">5</a>
        </li>
        <li>
            <a href="#">&raquo;</a>
        </li>
    </ul>
</section>