<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="activeMapConfiguration" type="Loom.Data.Mapping.Configuration.ActiveMapConfigurationSection, Loom.Data, Version=0.9.2.0, Culture=neutral"/>
    <section name="portalSettings" type="Loom.Web.Portal.Configuration.PortalSettingsSection, Loom.Web.Portal, Version=0.9.2.0, Culture=neutral" requirePermission="false" allowDefinition="Everywhere"/>
    <section name="northscale" type="NorthScale.Store.Configuration.NorthScaleClientSection, Enyim.Caching"/>
  </configSections>
  <portalSettings setup="true">
    <jQuery version="2.0.3"/>
    <virtualResources>
      <add name="test" namespace="Loom.Web.Portal.WebTest.Resources" assembly="Loom.Web.Portal.WebTest"/>
    </virtualResources>
    <routes allowPhysicalPages="true" allowDatabaseRoutes="false"/>
    <tenants>
      <add domain="colossusdev.com" tenant="Colossus"/>
      <add domain="devinteropdev.com" tenant="DevInterop"/>
    </tenants>
  </portalSettings>
  <activeMapConfiguration>
    <sessionProviders>
      <add name="portal" connectionStringName="default" type="Loom.Data.Mapping.Providers.SqlServerProvider, Loom.Data, Version=0.9.2.0, Culture=neutral"/>
    </sessionProviders>
  </activeMapConfiguration>
  <northscale transcoder="Enyim.Caching.Memcached.DefaultTranscoder, Enyim.Caching">
    <!-- bucket is optional and can be specified in the constructor, 
      so you can use the same configuration to connect to different buckets in the cluster -->
    <servers bucket="default">
      <!-- provide at least 2-3 urls from your cluster -->
      <add uri="http://localhost:8080/pools/default"/>
    </servers>
    <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10"/>
  </northscale>
  <connectionStrings>
    <add name="default" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=ColossusPortal;Data Source=(local)\DEVELOPMENT;"/>
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="webListeners" type="System.Web.WebPageTraceListener, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <trace enabled="false" pageOutput="false" requestLimit="50" traceMode="SortByTime" writeToDiagnosticsTrace="true"/>
    <compilation debug="true" targetFramework="4.5.1"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="Loom.Web.Portal"/>
      </namespaces>
      <controls>
        <add tagPrefix="loom" namespace="Loom.Web.Portal.UI.Controls" assembly="Loom.Web.Portal, Version=0.9.2.0, Culture=neutral"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.aspx"/>
      <add verb="*" path="*.aspx" type="Loom.Web.Portal.PortalViewFactory, Loom.Web.Portal, Version=0.9.2.0, Culture=neutral"/>
    </httpHandlers>
    <httpModules>
      <add name="PortalRequestModule" type="Loom.Web.Portal.PortalRequestModule, Loom.Web.Portal, Version=0.9.2.0, Culture=neutral"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <caching enabled="false" enableKernelCache="false">
      <profiles>
        <add extension=".jpg" location="Any" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
      </profiles>
    </caching>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="PortalRequestModule" type="Loom.Web.Portal.PortalRequestModule, Loom.Web.Portal, Version=0.9.2.0, Culture=neutral"/>
      <add name="PortalUserAuthenticationModule" type="Loom.Web.Portal.PortalUserAuthenticationModule, Loom.Web.Portal, Version=0.9.2.0, Culture=neutral"/>
    </modules>
    <handlers accessPolicy="Read, Execute, Script">
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <add name="PortalVirtualModule" path="*moduleresource/*.ascx" verb="GET" type="System.Web.StaticFileHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="PortalVirtualScript" path="*scriptresource/*.js" verb="GET" type="System.Web.StaticFileHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="PortalVirtualStyle" path="*styleresource/*.css" verb="GET" type="System.Web.StaticFileHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="PortalVirtualImage" path="*imageresource/*.*" verb="GET" type="System.Web.StaticFileHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <add name="PortalViewFactory" path="__virtual.aspx" verb="*" type="Loom.Web.Portal.PortalViewFactory, Loom.Web.Portal, Version=0.9.2.0, Culture=neutral" resourceType="Unspecified" requireAccess="Execute" preCondition="integratedMode"/>
      <add name="TestVirtualImage" path="*imageresource/test/*.*" verb="GET" type="System.Web.StaticFileHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <clientCache cacheControlMode="DisableCache"/>
    </staticContent>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="RemoveTrailingSlashRule1" stopProcessing="true">
          <match url="(.*)/$"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
          </conditions>
          <action type="Redirect" url="{R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Loom.Web.Portal.WebTest.Service1AspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="Loom.Web.Portal.WebTest.Service1">
        <endpoint address="" behaviorConfiguration="Loom.Web.Portal.WebTest.Service1AspNetAjaxBehavior" binding="webHttpBinding" contract="Loom.Web.Portal.WebTest.Service1"/>
      </service>
    </services>
  </system.serviceModel>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.13283" newVersion="2.6.3.13283"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>