<div>
    <h3>Serialize Form</h3>

    <form role="form" id="serializeFormTest" action="api/customer/" class="json-post">
        <div class="form-group ">
            <label class="control-label" for="name">First Name</label>
            <input name="customer.name" id="name" type="text" class="form-control" value="Brian Scott"/>
        </div>
        <div class="form-group has-warning">
            <label class="control-label" for="birthDate">Birth Date</label>
            <input name="customer.birthDate" id="birthDate" type="text" class="form-control" value="12/12/2013"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="phone">Phone Number</label>
            <input name="customer.phoneNumber" id="phone" type="text" class="form-control" value="858-345-5432"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="arrivalDate">Arrival Date</label>
            <input name="stay.arrivalDate" id="arrivalDate" type="text" class="form-control" value="03/04/23"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="number">Number</label>
            <input name="stay.roomNumber" id="number" type="text" class="form-control" value="12"/>
        </div>
        <div class="form-group ">
            <label class="control-label" for="email">Email</label>
            <input name="customer.email" id="email" type="text" class="form-control" value="user@domain.com"/>
        </div>
        <div class="form-group ">
            <label class="control-label">Select</label>
            <select name="option" class="form-control">
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
            </select>
        </div>
        <div class="form-group ">
            <input class="btn btn-primary" name="Save" type="submit" value="Save"/>
            <input class="cancel btn btn-default" data-loom-action="update" name="Cancel" type="submit" value="Cancel"/>
        </div>
    </form>
</div>