<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="activeMapConfiguration"
             type="Loom.Data.Mapping.Configuration.ActiveMapConfigurationSection, Loom.Data.Mapping" />
  </configSections>
  <connectionStrings>
    <add name="adventureWorks"
         connectionString="Data Source=(local)\SQLEXPRESS; Database=AdventureWorks2012; Integrated Security=true;" />
    <add name="northwind"
         connectionString="Data Source=(local)\SQLEXPRESS; Database=Northwind; Integrated Security=true;" />
    <add name="routes" connectionString="Data Source=(local)\SQLEXPRESS; Database=Routing; Integrated Security=true;" />
    <add name="Omni" connectionString="Data Source=(local)\SQLEXPRESS; Database=OmniMount; Integrated Security=true;" />
    <add name="Rea" connectionString="Data Source=(local)\SQLEXPRESS; Database=Rea; Integrated Security=true;" />
    <add name="Loom.Properties.Settings.AdventureWorksConnectionString"
         connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=AdventureWorks;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <activeMapConfiguration>
    <sessionProviders defaultProvider="adventureWorks">
      <add name="adventureWorks" type="Loom.Data.Mapping.Providers.SqlServerProvider, Loom.Data.Mapping"
           connectionStringName="adventureWorks" />
      <add name="adventureWorksDataSession" type="Loom.Data.DbCommandExtensions, Loom.Data.Mapping"
           connectionStringName="adventureWorks" />
      <add name="northwind" type="Loom.Data.Mapping.Providers.SqlServerProvider, Loom.Data.Mapping"
           connectionStringName="northwind" />
      <add name="routes" type="Loom.Data.Mapping.Providers.SqlServerProvider, Loom.Data.Mapping"
           connectionStringName="routes" />
      <add name="sales" type="Loom.Data.Mapping.Providers.SqlServerProvider, Loom.Data.Mapping"
           connectionStringName="Omni" />
      <add name="ReaContext" type="Loom.Data.Mapping.Providers.SqlServerProvider, Loom.Data.Mapping"
           connectionStringName="Rea" />
    </sessionProviders>
    <localization supportedLanguages="en-US;de-DE;nl;fr;it;ru;es" />
  </activeMapConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.13283" newVersion="2.6.3.13283" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>