<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Loom.Windows.Forms.Tests.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Loom.Windows.Forms.Tests.Properties.Settings>
      <setting name="DevInterop_Framework_Windows_Forms_Tests_ActiveData_ActiveMapTests" serializeAs="String">
        <value>http://localhost:8080/ActiveMapTests.asmx</value>
      </setting>
    </Loom.Windows.Forms.Tests.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>