* {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: inherit;
    list-style: none;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
}

body { font: normal normal 62.5%/1 'Lucida Grande', Arial, Helvetica, sans-serif; }

/*						PAGE LAYOUT							*/

#wrap {
    background: url(../images/bg_wrap.png) repeat-y left top;
    width: 994px;
}

#header { height: 110px; }

#sidebar {
    float: left;
    width: 235px;
}

#content {
    float: left;
    padding-left: 31px;
    width: 728px;
}

#footer {
    clear: both;
    height: 50px;
}

/*						GLOBAL STYLES						*/

cite, em { font-style: italic; }

strong { font-weight: bold; }

.hid { display: none; }

.bg {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
}

/*						HEADER STYLES						*/

#header h1 {
    background: #25221d;
    color: #fff;
    float: left;
    font-size: 1.8em;
    height: 110px;
    line-height: 3em;
    margin-right: 30px;
    position: relative;
    text-align: center;
    width: 235px;
}

#header h1 .bg {
    background: url(../images/bg_h1.png) no-repeat left top;
    height: 110px;
}

#status {
    color: #343434;
    float: right;
    font-size: 1.2em;
    padding: 15px 0 5px 0;
}

#status a, #status a:visited {
    color: #8b1d1d;
    font-weight: bold;
}

#status a:hover { text-decoration: underline; }

#header h2 {
    clear: right;
    color: #343434;
    font-size: 2.5em;
    letter-spacing: -1px;
    padding: 5px 0 10px 0;
}

#header h2 span {
    background: url(../images/bg_header_h2.png) no-repeat right top;
    font-weight: bold;
    padding-right: 35px;
}

#description {
    color: #660000;
    font-size: 1.5em;
}

/*						SIDEBAR STYLES						*/

#sidebar * { text-align: right; }

/*
#sidebar h3	{
	height: 28px;
	font-size: 1.3em;
	font-weight: bold;
	padding: 14px 20px 0 0;
	background: url(../images/bg_sidebar_h2.png) no-repeat left top;
}*/

#sidebar ul { margin: 0 0 0 32px; }

#sidebar ul ul { display: none; }

#sidebar li {
    cursor: pointer;
    display: inline;
    float: left;
    margin-bottom: 1px;
    width: 100%;
}

#sidebar li a, #sidebar li a:visited, #sidebar li span {
    background: url(../images/bg_sidebar_a.png) no-repeat right top;
    color: #fff;
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    height: 24px;
    padding: 8px 20px 0 0;
}

#sidebar li.active {
    margin: 0 0 0 -32px;
    width: 235px;
}

#sidebar li.active a, #sidebar li.active a:visited, #sidebar li.active span {
    background: #fff url(../images/bg_sidebar_h2.png) no-repeat left top;
    color: #000;
    font-size: 1.3em;
    font-weight: bold;
    height: 24px;
    padding: 8px 20px 0 0;
}

#sidebar li.active ul, #sidebar li ul { margin: 0; }

#sidebar li.active li a {
    margin-left: 32px;
    width: 203px;
}

#sidebar li li a, #sidebar li li a:visited, #sidebar li.active li a, #sidebar li.active li a:visited, #sidebar li.subitems li a, #sidebar li.subitems li a:visited {
    background: none;
    color: #fff;
    font-size: 1.1em;
    height: auto;
    padding: 10px 20px 10px 0;
    width: 183px;
}

#sidebar li li a:hover, #sidebar li.active li a:hover { text-decoration: underline; }

#redbox {
    background: url(../images/bg_redbox.png) no-repeat right top;
    height: 115px;
    margin-top: 190px;
    padding-right: 20px;
}

#sidebar h4 {
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 10px;
}

#sidebar p {
    color: #fff;
    line-height: 1.5em;
}

#sidebar big {
    display: block;
    font-size: 1.1em;
    padding: 5px 0 15px 0;
}

/*						CONTENT STYLES						*/

#content h2 {
    background: #4d5c89 url(../images/bg_content_h2.png) no-repeat left top;
    color: #fff;
    font-size: 1.7em;
    font-weight: bold;
    height: 27px;
    padding: 13px 0 0 15px;
}

.tabs {
    float: right;
    margin-top: -30px;
    padding-right: 15px;
}

.tabs li {
    float: left;
    padding-left: 4px;
}

.tabs li a, .tabs li a:visited {
    background: #b6b6b6 url(../images/bg_tabs_a.png) no-repeat left top;
    color: #fff;
    display: block;
    float: left;
    font-size: 1.1em;
}

.tabs li.active a, .tabs li.active a:visited {
    background: #fff url(../images/bg_tabs_a.png) no-repeat left bottom;
    color: #566a97;
}

.tabs li a span, .tabs li a:visited span {
    background: url(../images/bg_tabs_span.png) no-repeat right top;
    cursor: pointer;
    display: block;
    float: left;
    font-weight: bold;
    height: 20px;
    padding: 10px 20px 0 20px;
}

.tabs li.active a span, .tabs li.active a:visited span { background: url(../images/bg_tabs_span.png) no-repeat right bottom; }

.tabs li a:hover { color: #6c6c6c; }

#content .innerForm {
    background: url(../images/bg_content_form.png) repeat-y left top;
    margin-bottom: 20px;
}

#content fieldset {
    background: url(../images/bg_content_fieldset.png) no-repeat left bottom;
    padding: 0 0 18px 18px;
}

#content label {
    clear: both;
    color: #6c6c6c;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    height: 1%;
    line-height: 1.25em;
    padding: 15px 0 5px 0;
}

#content input, #content select {
    border: solid 1px #ccc;
    float: left;
    font-size: 1.4em;
    height: 20px;
	 
    /*padding: 7px 5px;*/
    line-height: 1.25em;
}

#content input.small {
    width: 240px;
    /*background: #aaa url(../images/bg_input_small.png) no-repeat left top;*/
}

#content input.small:focus { /*background: #eee url(../images/bg_input_small.png) no-repeat left bottom;*/ }

#content select.small {
    height: 19px;
    width: 248px;
    /*background: #aaa url(../images/bg_input_small.png) no-repeat left top;*/
}

#content input.medium {
    width: 350px;
    /*background: #aaa url(../images/bg_input_medium.png) no-repeat left top;*/
}

#content input.medium:focus { /*background: #eee url(../images/bg_input_medium.png) no-repeat left bottom;*/ }

#content input.large {
    width: 450px;
    /*background: #aaa url(../images/bg_input_large.png) no-repeat left top;*/
}

#content input.large:focus { /*background: #eee url(../images/bg_input_large.png) no-repeat left bottom;*/ }

#content span.positive {
    background: url(../images/icon_positive.png) no-repeat left top;
    color: #709a3c;
    display: block;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    height: 16px;
    line-height: 1.25em;
    margin: 7px 0 0 10px;
    padding-left: 25px;
}

#content span.negative {
    background: url(../images/icon_negative.png) no-repeat left top;
    color: #be2c0a;
    display: block;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    height: 16px;
    line-height: 1.25em;
    margin: 7px 0 0 10px;
    padding-left: 25px;
}

#content .innerForm p {
    clear: both;
    color: #666;
    font-size: 1.1em;
    padding: 5px 0;
}

#content textarea {
    /*background: #aaa url(../images/bg_textarea.png) no-repeat left top;*/
	
    border: solid 1px #ccc;
    display: block;
    font-size: 1.4em;
    height: 140px;
    line-height: 1.25em;
    margin-bottom: 20px;
    overflow: auto;
    padding: 5px;
    width: 683px;
}

#content textarea:focus { /*background: #eee url(../images/bg_textarea.png) no-repeat left bottom;*/ }

#content a.button, #content a.button:visited {
    background: #aaa url(../images/bg_button_a.png) no-repeat left top;
    display: block;
    float: left;
    height: 25px;
}

#content a.button:active { background: #eee url(../images/bg_button_a.png) no-repeat left bottom; }

#content a.button span, #content a.button:visited span {
    background: url(../images/bg_button_span.png) no-repeat right top;
    color: #343434;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    height: 19px;
    padding: 6px 18px 0 18px;
}

#content a.button:active span {
    background: url(../images/bg_button_span.png) no-repeat right bottom;
    color: #aaa;
}

.alert {
    background: #d7d7d7 url(../images/bg_alert.png) no-repeat left top;
    height: 28px;
    margin-bottom: 20px;
    padding: 10px 15px 0 0;
    text-align: right;
}

.alert span.txt {
    display: block;
    float: left;
    font-size: 1.2em;
    height: 21px;
    padding: 2px 0 0 50px;
}

.alert span.icon {
    background: url(../images/icon_alert.png) no-repeat left top;
    display: block;
    float: left;
    height: 16px;
    margin: -2px 17px 0 -33px;
    width: 16px;
}

#tip span.icon { background: url(../images/icon_tip.png) no-repeat left top; }

#congrats span.icon { background: url(../images/icon_congrats.png) no-repeat left top; }

.alert a, .alert a:visited {
    color: #aaa;
    display: block;
    float: right;
    height: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 27px;
}

.alert:hover a, .alert:hover a:visited { height: 16px; }

.alert a span, .alert a:visited span {
    background: url(../images/bg_close.png) no-repeat left top;
    cursor: pointer;
    height: 16px;
}

#content .box { background: url(../images/bg_content_form.png) repeat-y left top; }

#content table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 726px;
}

#content tr.highlight { background: #f2f2f2 url(../images/bg_td_highlight.png) repeat-x left top; }

#content th {
    color: #6c6c6c;
    font-size: 1.2em;
    font-weight: bold;
    height: 42px;
    text-align: left;
    text-indent: 20px;
    vertical-align: middle;
}

#content th.col1, #content th.col2, #content th.col3, #content th.col4 { width: 146px; }

#content td {
    border: solid 1px #d5d5d5;
    border-left: 0;
    color: #6c6c6c;
    font-size: 1.2em;
    height: 28px;
    text-align: center;
    vertical-align: middle;
}

#content td.action { border-right: 0; }

#content td a, #content td a:visited { color: #566a97; }

#content td a:hover { text-decoration: underline; }

#content table ul {
    margin: 0 auto;
    width: 96px;
}

#content table li {
    float: left;
    padding: 0 4px;
}

#content table li a, #content table li a:visited {
    cursor: pointer;
    display: block;
    float: left;
    height: 16px;
    width: 16px;
}

#content a.add, #content a.add:visited { background: url(../images/icon_add.png) no-repeat center center; }

#content a.edit, #content a.edit:visited { background: url(../images/icon_edit.png) no-repeat center center; }

#content a.delete, #content a.delete:visited { background: url(../images/icon_delete.png) no-repeat center center; }

#content a.mark, #content a.mark:visited { background: url(../images/icon_mark2.png) no-repeat center center; }

p#pagin {
    background: url(../images/bg_content_fieldset.png) no-repeat left bottom;
    color: #566a97;
    font-size: 1.2em;
    padding: 20px 0;
    text-align: center;
}

p#pagin a, p#pagin a:visited { color: #566a97; }

p#pagin a:hover { text-decoration: underline; }